<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <font color="#5cb85c" size="6">
                <span style="line-height: 45.7143px;">회원정보</span>
              </font>   회원님의 자세한 정보를 확인하세요.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="col-md-12 col-sm-3 col-xs-3 text-center">
              <div class="row">
                <div class="col-md-12">
                  <form class="form-horizontal" role="form">
                    <div class="form-group" align="left">
                      <span style="font-size:large; font-weight:bold; margin-left: 1em;">공지사항검색</span>
                      <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="공지사항를 검색해보세요!">
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 form-group">
                        <button class="btn btn-success" type="button">
                          <i class="fa fa-1x fa-lg fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <br>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="text-align: center;">하위분류명</th>
                        <th style="text-align: center;">수량</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>하위분류1</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>하위분류2</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>하위분류3</td>
                        <td>4</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="col-md-8">
              <div class="navbar navbar-default">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>
                  <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-left">
                      <li class="active">
                        <a href="#">재능 등록</a>
                      </li>
                      <li>
                        <a href="#">재능 진행중</a>
                      </li>
                      <li>
                        <a href="#">제안등록</a>
                      </li>
                      <li>
                        <a href="#">제안 진행중</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>ajax구현 테이블
                      <br>
                    </th>
                    <th>별도 파일 진행예정</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-4">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <div class="col-md-12">
                    <label for="indate" class="control-label">회원가입일</label>&nbsp;&nbsp;
                    <a>자세히 보기</a>
                  </div>
                  <div class="col-sm-7 col-md-12">
                    <span id="indate">2015-12-03</span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label for="lastlogin" class="control-label">마지막 로그인</label>&nbsp;&nbsp;
                    <a>자세히 보기</a>
                  </div>
                  <div class="col-sm-7 col-md-12">
                    <span id="lastlogin">2016-07-31</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  

</body></html>